[Unit]
Description=Network Disable Default Route Configuration
Documentation=man:systemd-networkd.service(8)
After=systemd-networkd.service
Wants=systemd-networkd.service

[Service]
ExecStart=ip route delete default dev enp0s3

[Install]
WantedBy=multi-user.target